*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background: lightblue;
}

img {
    display: block;
}

section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.hide {
    display: none;
}

.btn {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    background: rgb(226, 129, 145);
    color: #fff;
    transition: all 300ms linear;
    cursor: pointer;
}

.btn:hover {
    background: rgb(149, 82, 93);
}

.yes {
    position: absolute;
    top: calc(50% + 200px);
    left: calc(50% - 200px);
}

.no {
    position: absolute;
    top: calc(50% + 200px);
    right: calc(50% - 200px);
    transition: all 300ms linear;
    width: 30px;
    text-align: center;
}